# Problem Set 2

## Question 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
from pyModule import*

#initially in imports python module after that we called b() it starts executing b() function in given module
#then it starts with a = 0 after calling b() third time it calls func c which returns a + 2
#finally after calling b() 3 times a+2 is executed 3 times and it prints 6
b()   # a = 0 + 2 = 2
b()   # a = 2 + 2 = 4
b()   # a = 4 + 2 = 6
a

6

## Question 2

In [3]:
def file_len(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("file",file_name,"not found")
file_len("pyModule.py")
file_len("idterm.py")

116
file idterm.py not found

## Question 3

In [13]:
class Marsupial:                     
    
    def __init__(value):              
        value.list = []

    def put_in_pouch(value, item):    
        value.list.append(item)

    def pouch_contents(value):      
        return value.list

    
class Kangaroo(Marsupial):             
    
    def __init__(value,x,y):            
        Marsupial.__init__(value)
        value.x = x
        value.y = y

    def jump(value,dx,dy):           
        value.x += dx
        value.y += dy

    def __str__(value):              
        return 'I am a Kangaroo located at coordinates ({},{})'.format(value.x,value.y)

In [10]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [12]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

## Question 4

In [6]:
def collatz(x):                     

    print(x)                       
 
    if x == 1:                        
        return 
    elif x % 2 == 0:                     
        return collatz(x / 2) 
    else:
        return collatz((3 * x) + 1)

In [7]:
collatz(1)

1

In [8]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

## Question 5

In [9]:
def binary(digit):              
    if(digit > 0):
        binary(digit // 2)
        print(digit % 2, end = '')

In [10]:
binary(0)

In [11]:
binary(1)

1

In [12]:
binary(3)

11

In [13]:
binary(9)

1001

## Question 6

In [34]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    flag = False
    indetation_value = 0

    def handle_starttag(self, tag, attrs):  
        if tag == "h1":  
            self.flag = True 
            self.indetation_value = 0

        elif tag == "h2":
            self.flag = True
            self.indetation_value = 1
        elif tag == "h3":
            self.flag = True
            self.indetation_value = 2
        elif tag == "h4":
            self.flag = True
            self.indetation_value = 3
        elif tag == "h5":
            self.flag = True
            self.indetation_value = 4
        elif tag == "h6":
            self.flag = True
            self.indetation_value = 5


    def handle_data(self, data):  
        if self.flag:
            print (self.indetation_value*"\t"+data)

    def handle_endtag(self, tag):  
        if tag == "h1":  
            self.flag = False
        elif tag == "h2":
            self.flag = False
        elif tag == "h3":
            self.flag = False
        elif tag == "h4":
            self.flag = False
        elif tag == "h5":
            self.flag = False
        elif tag == "h6":
            self.flag = False

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

# Question 7

In [35]:
from bs4 import BeautifulSoup
import requests

urls=["one.html"]

site = "http://reed.cs.depaul.edu/lperkovic/csc242/test4.html"
url = 'one.html'
x = 0
def webdir(url,depth):
        r = requests.get (site+url)

        s = BeautifulSoup (r.text, "html.parser")
        for i in  s.find_all ("a"):
            global x
            if x < depth:
                x = x+1
                url = i.attrs['href']
                urls.append(url)
                webdir(url,depth)
            x = 0

webdir(url,2)

# Question 8

In [21]:
import sqlite3
con = sqlite3.connect('cinfo.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS cityinfo(City text, Country text, Season text, Temperature double, Rainfall double )")
cur.execute("INSERT INTO cityinfo VALUES ('Mumbai', 'India', 'Winter', 4.2, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityinfo VALUES ('United Kingdom', 'London', 'Winter', 4.2, 207.7), ('United Kingdom', 'London', 'Spring', 8.3, 169.6), ('United Kingdom', 'London', 'Summer', 8.3, 169.6), ('United Kingdom', 'London', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO cityinfo VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

cur.execute('SELECT * FROM cityinfo')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 4.2, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('United Kingdom', 'London', 'Winter', 4.2, 207.7),
 ('United Kingdom', 'London', 'Spring', 8.3, 169.6),
 ('United Kingdom', 'London', 'Summer', 8.3, 169.6),
 ('United Kingdom', 'London', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [22]:
cur.execute('SELECT DISTINCT(City) FROM cityinfo')
cur.fetchall()

[('Mumbai',), ('United Kingdom',), ('Cairo',)]

In [23]:
cur.execute('SELECT * FROM cityinfo where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 4.2, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [24]:
cur.execute('SELECT * FROM cityinfo where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('United Kingdom', 'London', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [33]:
cur.execute('SELECT City,Country,Season, AVG(Rainfall) FROM cityinfo GROUP BY City, Country HAVING AVG(Rainfall)>200 and AVG(Rainfall)<400')
cur.fetchall()

[]

In [39]:
SELECT City, Country, Avg(Temperature) FROM table WHERE Season = 'Fall' Group by City, Country HAVING Avg(Temperature) > 20 ORDER BY Temperature;

SyntaxError: invalid syntax (Temp/ipykernel_18640/463871409.py, line 1)

In [38]:
cur.execute('SELECT Sum(Rainfall) FROM cityinfo WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [27]:
cur.execute('SELECT Season, Sum(Rainfall) FROM cityinfo GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1719.1),
 ('Winter', 230.1)]

## Question 9

In [2]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [4]:
print([a.upper() for a in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [5]:
print([a.lower() for a in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [6]:
print([len(a) for a in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [8]:
print([[a.upper(), a.lower(), len(a)] for a in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [9]:
print([a.lower() for a in words if len(a) >= 4])

['quick', 'brown', 'jumps', 'over', 'lazy']